<div class="row status">
        <div class="col-10">
            <p><i class="fas fa-check-circle"></i>Connecté</p>
        </div>
    </div>
    <div class="row status">
            <div class="col-10">
                <p><i class="fas fa-check-circle"></i>Récupération des données</p>
            </div>
        </div>
        <div class="row status">
                <div class="col-10">
                    <p><i class="fas fa-check-circle"></i>Création du calendrier</p>
                </div>
            </div>
<div class="col-12">
    <div class="alert alert-{{ role }}" role="alert" >
        <h5 class="alert-heading">{{ title }}</h5>
        <hr>
        <div id="MessageOK"><a href="/return_ics/{{ uid }}" target="blank"><button class='btn btn-default'>Download!</button></a></div>
     </div>
 </div>